{% extends "base.html" %}

{% block content %}
<main role="main">

  <div class="album py-5 bg-light">
    <div class="container">
      <div class="row justify-content-md-center">
        <div class="col-md-8">
          <form class="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <h1 class="h3 mb-3 font-weight-normal">Create meters</h1>
            {{form.as_p}}

            {% if form.errors %}
            <div class="alert alert-warning">
              {{ form.errors }}
            </div>
            {% endif %}

            <button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </div>

</main>
{% endblock %}